# Sanal ortam klasörü
venv/

# Derlenmiş Python dosyaları
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints (eğer Jupyter kullanırsan)
.ipynb_checkpoints/

# Matplotlib cache (çok nadir ama temizlik için)
.mplconfig/

# IDE/editor ayarları (örneğin VS Code)
.vscode/
*.code-workspace
